@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: green;
}


/* apply background color when toogle is on */
#toggle-label:has(input:checked) {
  @apply bg-green-400;
}

#cardRef {
  position: relative;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  user-select: none;
}

#cardRef.flipped {
  transform: rotateY(180deg);
}
#cardRef > div {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

#cardRef .back {
  transform: rotateY(180deg);
}

@keyframes scrolling {
  0% {
    transform: translateY(0px);
  }
  11% {
    transform: translateY(0px);
  }
  22% {
    transform: translateY(-24px);
  }
  33% {
    transform: translateY(-24px);
  }
  44% {
    transform: translateY(-48px);
  }
  55% {
    transform: translateY(-48px);
  }
  66% {
    transform: translateY(-72px);
  }
  77% {
    transform: translateY(-72px);
  }
  88% {
    transform: translateY(-96px);
  }
  100% {
    transform: translateY(-96px);
  }
}

.scrolling-container {
  animation: scrolling 5s ease infinite;
}

#closed-eyes {
  background: #222;
  text-align: center;
}

#closed-eyes form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
}
#closed-eyes input {
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  font-size: 1.4em;
  margin: 10px auto;
}
#closed-eyes form img {
  width: 200px;
  margin: 0 auto;
}

/* floating-label styles */
.floating-input {
  @apply absolute inset-0 px-2 bg-transparent;
}

.floating-label {
  @apply absolute capitalize top-1/2 left-2 -translate-y-1/2 bg-white px-2 transition-all;
}

.floating-input:focus + label,
.floating-input:not(:placeholder-shown) + label {
  @apply top-0 text-sm;
}

/* end of floating-label styles */

.hover-effect :is(span:has(~ span:hover), span:hover) {
  @apply text-yellow-500;
}

/* floating-label styles */
.step-wrapper {
  @apply relative flex flex-col items-center gap-3 w-36  -z-10;
}

.step-wrapper:not(:last-child)::before {
  @apply content-[""] w-full h-1 bg-black absolute top-2 left-1/2;
}

.step-wrapper.active .step-number,
.step-wrapper.completed .step-number,
.step-wrapper.completed::before {
  @apply bg-purple-600;
}

/* form-stepper styles */
.step-number {
  @apply text-center rounded-full relative aspect-square w-6 bg-slate-950 text-white;
}

/* End of form-stepper styles */

/* .animating linear gradient button styles */
.animating-button {
  @apply w-60 mt-10 ml-10 p-3 border bg-[linear-gradient(45deg,#845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871)];
  background-size: 150%;
  background-position: left;
  transition: background-position 1s;
}

.animating-button:hover {
  background-position: right;
}
/* End ofanimating linear gradient button styles */

/* parallax-scroll styles */
.parallax-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.parallax-wrapper header {
  transform-style: preserve-3d;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mountain,
.trees {
  position: absolute;
  width: 100%;
  height: 100%;
}

.trees {
  transform: translateZ(-5px) scale(1.5);
}

.mountain {
  transform: translateZ(-10px) scale(2);
}

.parallax-wrapper header p {
  position: relative;
  z-index: 20;
}
/* End of parallax-scroll styles */
